body {
    margin: 0em;
    padding: 0em;
    font-size: medium;
}
#container {
    margin: 0.5em;
    max-width: 100%;
}
pre {
    color: #eeeeee;
    background-color: #222222;
    padding: 0.5em;
    overflow: auto;
    white-space: pre-wrap;
}
table {
    border-collapse: collapse;
}
th, td {
    border: thin;
    border-style: solid;
    padding: 0.2em;
}
td.js-line-number {
    border: none;
}
em {
    font-weight: bold;
}
.postpromonav .tags {
    text-align: right;
}	
.metadata p::before, .postpromonav .tags li::before, .postlist .listdate::after, .translationslist p::before {
    content: " ";
}
